<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ferreteria-Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos">
                <span class="oi oi-list" aria-hidden="true"></span> Inventario
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarproducto">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Producto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categorias">
                <span class="oi oi-list" aria-hidden="true"></span> Categorias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarcategoria">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Categoria
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proveedores">
                <span class="oi oi-list" aria-hidden="true"></span> Proveedores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarproveedor">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Proveedor
            </NavLink>
        </div>
    </nav>
</div>


